SUPABASE_URL=https://your-project.supabase.co
SUPABASE_KEY=your_supabase_key
SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_KEY=your_supabase_service_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key_if_needed
GOOGLE_API_KEY=your_google_api_key
OCR_SPACE_API_KEY=your_ocr_space_api_key


SPLITWISE_ACCESS_TOKEN=your_splitwise_access_token

SPLITWISE_CLIENT_ID=splitwise_client_id

SPLITWISE_CLIENT_SECRET=splitwise_client_secret_id



//In Frontend
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_API_URL=http://localhost:8000
